@import "./styles.css";
/* @import "./layout/hero-grid-1.css"; */



body
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: var(--ff-normal);
}


.hero-grid-2
{   
  padding: clamp(1rem, 2vw + 1rem, 6rem);
  height: clamp(4rem, 25vw + 25rem, 46rem);
  
  display: flex;
  gap: 3rem;
  align-items: start;
  flex-direction: column;
  justify-content: start;

  color: var(--clr-white-white);
}

.hero
{
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
        url('../ressources/images/background-hero-about.png');
}

.hero__title
{
  font-size: var(--fs-h1);
}

.hero__description
{
  max-width: 32rem;
  font-size: 20px;
}

.hero__content
{
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: start;
}





/*********************************************************\
*                     badge container                     *
\*********************************************************/
.badge-container
{
  
  display: flex;
  gap: 4rem;
  align-items: center;
}

.badge__name
{
  display: block;

  text-align: center;
  font-weight: 600;
}






/*********************************************************\
*                Services grid and styles                 *
\*********************************************************/
.all-services
{

  /* border: 1px solid chartreuse; */
}

.all-services-title
{
  font-size: var(--fs-h2);
  /* font-size: 48px; */
  text-align: center;
  padding: 3rem 2rem;
  color: var(--clr-primary-blue);
}

.services-container
{
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(4, minmax(256px, 280px));
}

.service
{
  max-width: 342px;
  min-height: 300px;
  padding: 2rem;
  position: relative;
  box-sizing: border-box;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: start;
  flex-direction: column;

  border: 1px solid #A6AEB5;
}

.service-img
{
  width: 106px;
  height: 106px;
}

.card-number
{
  right: 2rem;
  top: 2rem;
  position: absolute;

  font-size: 32px;
  color: gray;
}






/*********************************************************\
*                      About section                      *
\*********************************************************/
.about
{
  margin: 4rem 0;
}

.about-header
{
  /* height: fit-content; */
  padding: 4rem;
  text-align: center;

  background: url('../ressources/images/vroom-gaz.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.about-title
{
  font-size: var(--fs-h1);
  /* font-size: 48px; */
}

.about-title cite
{
  border: 1px solid;
  display: block;
}

.about-content
{
  max-width: 1080px;
  margin: auto;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.about-value
{
  /* bordeR: 1px solid; */
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.value-number
{
  font-size: 56px;
}

.value-description
{
  max-width: 300px;
}






/*********************************************************\
*              Supp informations section styles           *
\*********************************************************/
.supp-informations
{
  padding: 2rem;
  position: relative;

  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;

  border: 1px solid block;

}

.supp-informations__title
{
  text-align: center;
  font-size: var(--fs-h2);
}

.road-cards-img
{
  max-width: 1080px;
}

.cars-logo
{
  
  display: flex;
  gap: 4rem;
  align-items: center;
}







/*********************************************************\
*              Responsive of the page                     *
\*********************************************************/
@media screen and (max-width: 916px) {

  .hero__description
  {
    padding: .5rem;
    display: none;
  }
  .badge-container
  {
    /* gap: .2rem; */
    display: none;
  }


  .services-container
  {
    grid-template-columns: repeat(auto-fit, minmax(296px, 300px));
  }
/* 
  .about-content
  {
    gap: .5rem;
  } */
  .about-value
  {
    text-align: center;
  }

  .road-cards-img
  {
    max-width: 100%;
  }

  .cars-logo__vector
  {
    display: none;
  }
}