@import "./styles.css";


body
{
  font-family: var(--ff-normal);
}

.hero-grid-2
{
  width: 100%;
  padding: max(10vw, 8rem) 6rem;
  /* height: clamp(4rem, 25vw + 25rem, 46rem); */
  
  /* display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: start;
  flex-direction: column;
  justify-content: start; */

  /* border: 1px solid; */

}

.hero
{
  background-attachment:local;
  background: url('../ressources/images/background-contact.png');
}

.hero > *
{
  margin-bottom: 1rem;
}

.contact-hero__title
{
  font-size: var(--fs-h2);
  text-align: center;
}

.contact-hero__description
{
  text-align: center;
}

.contact-box
{
  padding: 2rem;
  margin: 0rem auto;
  max-width: 1280px;

  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  flex-direction: column;

  /* border: 1px solid; */
  background-color: white;
}

.contact-informations
{
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  flex-direction: column;

  border-radius: 16px;

  background: #011C2B;

  color: white;
  padding: 2rem;
}


.information
{
  margin-top: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.form-informations
{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: end;

  max-width: 600px;
  /* border: 1px solid; */
}

.input-container
{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.input-box,
.textarea-container
{
  display: flex;
  flex-direction: column;
}

.simple-input,
textarea
{
  height: 3rem;
  width: 16rem;

  outline: none;
  border: none;
  /* border-bottom: 1px solid;   */
}

.radio-box
{
  padding: 1rem;
  width: 100%;
 
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;

  bordeR: none;
}

.textarea-container
{
  width: 100%;
  height: 4rem;
  /* border: 1px solid; */
}

textarea
{
  width: 80%;
  resize: none;
}



/*********************************************************\
*              Responsive of the page                     *
\*********************************************************/

@media screen and (max-width: 916px) {

  .hero-grid-2
  {
    padding: .5rem;
  }

  .contact-box
  {
    padding: 1rem;
  }
  .contact-informations
  {
    padding: 1.5rem;
    width: 100%;
    gap: 2rem;
    font-size: 12px;
  }

  .form-informations
  {
    display: flex;
    align-items: center;
  }
}