@import "./styles.css";
@import "./layout/hero-grid-1.css";



html {
  /* scroll-behavior: smooth; */
}


body
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: var(--ff-normal);
}


/*********************************************************\
*                  Hero header properties                 *
\*********************************************************/
.hero
{
  background-image: url("../ressources/images/background-hero-index.png");
}

.hero__title
{
  font-size: var(--fs-h1);
}





/*********************************************************\
*          Site presentation sections properties          *
\*********************************************************/
.site-presentation-container
{
  display: flex;
  flex-direction: column;
}

    .site-presentation__sites
    {
      min-height:  6rem;
      padding: 2rem;

      display: grid;
      gap: 1rem;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      
    }

        .site__name:hover
        {
          color: var(--clr-primary-blue);
          font-size: 16px;
          font-weight: var(--fw-bold);
        }

    .site-presentation
    {
      padding: 3rem 2rem;

      display: flex;
      gap: 4rem;

      background: var(--clr-neutral-gray);
      border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .site-img
    {
      max-width: 662px;
    }

    .site-informations
    {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      align-items: start;
    }

        .characteristics
        {
          display: flex;
          gap: 2rem;
          align-items: center;
        }





/*********************************************************\
*               Presentation services section             *
\*********************************************************/
.services
{
  padding: 2rem clamp(2rem, 1rem + 1vw, 4rem);

  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

    .services-img
    {
      max-width: 800px;
    }

    .services-content
    {
      display: flex;
      gap: 1rem;
      align-items: start;
      flex-direction: column;
    }

        .services-title
        {
          font-size: var(--fs-h2);
        }

    .services-list
    {
      line-height: 3rem;
      list-style-type: "+  ";
    }

    .service
    {
      font-size: 20px;
    }






/*********************************************************\
*               Presentation partners section             *
\*********************************************************/
.partners-container
{
  padding: 2rem;
  position: relative;

  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;

  background-color: var(--clr-neutral-gray);
}

.partners-title
{
  font-size: var(--fs-h2);
}

.partners-logo-container
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

    .logos
    {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      align-items: center;
    }





/*********************************************************\
*              Responsive of the page                     *
\*********************************************************/

@media screen and (max-width: 916px) {
  .hero
  {  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent),
                  url("../ressources/images/background-hero-index.png");
  }

  .site-presentation
  {
    flex-direction: column;
  }

  .site-presentation__sites
  {
    grid-template-columns: repeat(2, 1fr);
  }

    .site__name
    {
      /* border: 1px solid; */
    }

    .site-title
    {
      text-align: center;
    }

    .site-informations .btn
    {
      margin-left: calc(50vw - 128px);
    }

    .services
    {
      flex-direction: column-reverse;
    }

      .service > *
      {
        text-align: center;
      }
  
}