@import "./styles.css";
@import "./layout/hero-grid-1.css";



	html {
		/* scroll-behavior: smooth; */
	}

  
body
{
  display: flex;
  flex-direction: column;
  font-family: var(--ff-normal);
}

.hero
{
  background-attachment: scroll;
  background-image: url("../ressources/images/background-hero-sites.png");
}



.hero-button-container
{
  min-width: 300px;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;

}

.hero__title
{
  font-size: 20px;
}

.sites
{
  padding: 2rem;

  display: flex;
  gap: 4rem;
  flex-direction: column;

  background: transparent;

}


.site-card
{
  padding: 2rem;
  position: relative;

  border-radius: 32px;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
}

.site-title
{
  margin-bottom: 2rem;
  font-size: var(--fs-h2);
}

.site-presentation-card
{
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 700px;
  align-items: start;
}

.site-informations
{
  padding: 0 0rem;

  display: flex;
  gap: 1rem;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.site-informations-content
{
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.informations-container
{
    display: flex;
    gap: 1.0rem;
    flex-direction: column;
}

.information
{
  display: flex;
  gap: 1rem;
}

.site-title
{
  text-align: center;
}

.site-informations .btn
{
  /* font-size: 20px; */
}

.presentation-img
{
  /* max-width: 600px; */
}


@media screen and (max-width: 916px) {
 
  .hero
  {
    
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent),
                    url("../ressources/images/background-hero-sites.png");
  }

  .hero-button-container
  {
    border: 1px solid;
  }

  .site-card
  {
    padding: 1rem;
    border: 1px solid;
    /* 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, fr);
    border: 1px solid; */

  }

  .presentation-img
  {
    max-width: 100%;
  }
  
  .site-presentation-card
  {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }


}