
footer
{
  padding: 2rem;
  
  background-color: var(--clr-dark-black);

  color: var(--clr-white-white);
}

.simple-footer-links
{
  padding: 2rem;

  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.simple-footer-links a
{
  color: var(--clr-white-white);
}

.social-contacts
{
  padding: 2rem;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.social-icons
{
  display: flex;
  gap: 2rem;
}