/*********************************************************\
*       Header properties       *
\*********************************************************/

.header
{
  /* position: relative; */
  padding: 1.2rem 2rem;
  /* padding: 1.2rem 2rem 1.2rem 4rem; */
  /* left: 50%; */

  border-radius: 56px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 88%; */

  background-color: var(--clr-white-white);

  /* transform: translate(-50%); */
  transition: box-shadow 0.5s ease-in;
}

header:hover
{
  /* box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); */
}

.header-navlinks
{
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: white;
}


.link-item__special
{
  /* padding: 0.8rem 1.5rem; */

  /* border: 1px solid black; */
  border-radius: 32px;
}

.header-burger-menu
{
  display: none;
  cursor: pointer;
}





/*********************************************************\
*              Responsive of the page                     *
\*********************************************************/

@media screen and (max-width: 916px) {

  .header
  {
    position: relative;
    padding: 1rem 2rem;
    gap: 1rem;

  }

  .header-navlinks
  {
    top: 0;
    left: 0;
    width: 80%;
    z-index: 1000;
    /* border: 1px solid; */
    padding: 2rem;
    position: absolute;
    flex-direction: column;
    opacity: 0;
    transition: opacity ease-in .3s;
    border-radius:  0 0 .5rem .5rem;
  }

  .header-burger-menu
  {
    display: block;
  }

  .link-item__special
  {
    /* padding: 0.8rem 1.5rem; */

    border: none;
    border-radius: 32px;
  }
  
  .logo
  {
    max-width: 192px;
  }
}

/*
.appear
{
  opacity: 1;
}
*/