@import "../abstracts/typography.css";


/*********************************************************\
*             Hero grid 1 sections properties            *
\*********************************************************/
.hero-grid-1
{   
  padding: max(10vw, 6rem);
  height: clamp(4rem, 25vw + 28rem, 46rem);
  
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
  justify-content: start;

  /* border: 1px solid; */
}
  .hero-grid-1 > *
  {
    text-align: center;
  }

  .hero__title
  {
    font-size: var(--fs-h1);
  }

  .hero__description
  {
    font-size: var(--fs-normal);
  }

  .hero__content
  {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }