/*********************************************************\
*        Classic button properties        *
\*********************************************************/
.btn
{
  padding: 0.8rem 1rem 0.8rem 1.5rem;

  border: none;
  border-radius: 56px;

  background: var(--clr-white-white);
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn img
{
  max-width: 56px;
}

.btn:hover
{
  gap: 1.5rem;
}





/*
* This is the properties about the primary and the secondary
* button
* 1-) Primary button and its hover state changement properties
*/
.btn--primary, .btn--secondary
{
  display: flex;
  align-items: center;

  font-size: 24px;
  
  transition: all 0.2s ease-in;
}

.btn--primary
{
  gap: 0.5rem;

  font-weight: var(--fw-bold);

  color: var(--clr-secondary-blue);
}





/*
* 2-) Secondary button and its hover state changement properties
*/
.btn--secondary
{
  padding: 0.8rem 2.5rem;

  gap: 1rem;
  font-size: var(--fs-button);
  
  background-color: var(--clr-primary-blue-light);

  font-weight: var(--fw-normal);
  color: var(--clr-white-white);

}

.btn--secondary:hover
{
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
  background-color: var(--clr-primary-blue);
}





/*
* 3-) Service effect button and its hover state changement 
* properties
*/
.btn--service-effect
{
  padding: 0.5rem 0.8rem;

  border-radius: 8px;
  border: 2px solid var(--clr-primary-blue);

  background-color: #F5F5F5;

  font-weight: 500;
  
  cursor: pointer;
}

.btn--service-effect:hover
{
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}




/*
* 4-) Dashed button and its hover state changement properties
*/
.btn--dashed
{
  padding: 1rem 1.5rem;

  border-radius: 2px;
  border: 2.5px dashed var(--clr-white-white);

  background: transparent;

  color: var(--clr-white-white);

  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in;
}

.btn--dashed:hover
{
  color: var(--clr-primary-blue);

  background: var(--clr-white-white);

  font-weight: var(--fw-bold);
  
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}




/*
* 5-) Send button and its hover state changement properties
*/
.btn--send
{
  background-color: #011C2B;

  color: var(--clr-white-white);

  border-radius: 8px;
  border: 1px solid;
}





/*
* 6-) Scrolling button and its hover state changement properties
*/
.btn-scroll
{
  right: 4rem;
  bottom: 4rem;
  position: absolute;

  padding: 1rem;
  background: white;

  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.btn-scroll img
{
  width: 20px;
}



@media screen and (max-width: 916px) {

  .btn img
  {
    width: 32px;
  }

  .btn-scroll
  {
    right: 1rem;
    bottom: 11rem;
  }

  .btn-scroll img
  {
    width: 20px;
  }

}