
a
{
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover
{
  font-weight: var(--fw-bold);
  color: var(--clr-primary-blue);
}

.clr-p-blue
{
  color: var(--clr-primary-blue);
}


/*Generic hero class that contains more than layout elements

  This class have been created cause in the grid-1 layout
  there are a lot of elements that have same aspect expect
  some modifications, so I used DRY
*/

.hero-grid-content
{
  
  background-size: cover;
  background-position: center;
  
  color: var(--clr-white-white);
}



/*
* This is the class for the badges container through the project
*/
.badge-container
{
  display: flex;
  gap: 3rem;
  align-items: center;
  flex-wrap: wrap;
}




/*
* This is the class for the car brands
*/
.cars-logo
{
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}