
/*----------Color variables----------*/

:root
{  
  --clr-primary-blue-light: rgb(68, 88, 255, 0.80);
  --clr-primary-blue: #4458FF;
  --clr-secondary-blue: #49889D;

  --clr-neutral-gray: #F9F5F5;

  --clr-white-white: #fff;
  --clr-dark-black: #1F1F1F;
}

/*----------Typo variables----------*/

:root
{
  --ff-normal: "Montserrat";

  --fw-bold: 700;
  --fw-normal: 400;

  
  --fs-h1: clamp(2.5rem, 4vw + 0.5rem, 5rem);
  --fs-h2: clamp(0.5rem, 4vw + 0.5rem, 1.8rem);;
  --fs-normal: 1.25rem;
  --fs-button: clamp(1rem, 1vw + 4px, 2rem);

  --img-height: clamp(1rem, 1vw + 4px, 2rem);
}

